Package: com.stt.picsewcrack
Name: Picsew Crack
Author: sttt
Description: Picsew Crack supports version 3.8.6+
Depends: mobilesubstrate
Maintainer: sttt
Section: Tweaks
Icon: https://Mieing.Github.io/repo/file/picsew.png
Architecture: iphoneos-arm
Version: 0.0.2
Installed-Size: 280
